* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
}

/* HEADER */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1503376780353-7e6692767b70");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

header h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

header p {
  font-size: 20px;
  opacity: 0.9;
}

/* NAV */
nav {
  background: #111;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

/* CONTAINER */
.container {
  padding: 60px 10%;
  text-align: center;
}

.section-title {
  font-size: 32px;
  margin-bottom: 40px;
}

/* CARD */
.card {
  background: white;
  width: 300px;
  margin: 20px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

button {
  background: #111;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #00bcd4;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  padding: 50px 10%;
  margin-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box {
  width: 250px;
  margin-bottom: 20px;
}

.footer-box h3 {
  margin-bottom: 15px;
  color: #00bcd4;
}

.footer-box p,
.footer-box a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}


.brand-card {
    background: white;
    width: 260px;
    height: 160px;
    margin: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transition: 0.4s;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.brand-card:hover {
    background: #111;
    color: white;
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}